<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>クチコミ投稿フォーム</title>
</head>
<body>
<header>
    <a th:href="@{/}">RaseClick</a>
</header>

<div class="page-title">
    <h1>クチコミ投稿フォーム</h1>
</div>

<div class="form">
    <form th:action="@{/reviewForm}" th:method="post" th:object="${reviewForm}">
        <div class="spot_name">
            <input type="text" th:field="*{spotName}" id="spotName" required placeholder="訪問先を入力してください">
        </div>
        <div class="submit">
            <button type="submit">投稿</button>
        </div>
    </form>
</div>


</body>
</html>
